.git
.gitignore
__pycache__
*.pyc
*.pyo
*.pyd
*.swp
*.swo
.venv
venv
env
.env
docker/middleware.env
dist
build
*.egg-info
logs
tests
docs
documentations
misc
*.bat
*.pptx
*.DAT
terrain
mav.parm






